@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, button, .font-semibold, .font-bold {
  font-family: 'Poppins', sans-serif;
}

input[type="range"] {
  accent-color: #7551fb;
}

select {
  color: white;
  appearance: none;
}

select option {
  background: #0f172a;
  color: white;
}
